---
---
<html>
    <head>
        <link rel="stylesheet" href="/assets/main.css">
        <title>
            {{ site.title }}
        </title>
    </head>
    <body>
        <h1>
            GOOOGLE
        </h1>
        <h2>
            {{ layout.title }}
        </h2>
        <h3>
            (It's not a trademark violation since it has 3 Os) </h3>
        <hr>
            {% include header.html %}
        <hr>
        {{ content }}
    </body>
</html>