---
layout: base
title: Goooogle Publications
---
<hr>
Featured Publication: {{ site.data.publications[site.featured_publication].title }}
<hr>
{% for publication_hash in site.data.publications %}
    {% if forloop.first %}
        First item:
    {% elsif forloop.last %}
        Last item:
    {% endif %}
    <br>
    
    {% assign publication=publication_hash[1] %}
    <br>
    Title: {{ publication.title }}
    <br>
    Author: {{ publication.title }}
    <br>
    Rating: {{ publication.rating }}
    <br>
    <hr>
{% endfor %}